@model ContractDTO
@{
    ViewData["Title"] = "ContractEdit";
}

@section pageHeader{
    <h2 class="page-title">Contract Edit</h2>
}


<form class="form-group d-inline-block col-6 border" asp-action="ContractAdd" method="post">
    <div class="card-body col-12">

        <div class="form-group">
            <input type="hidden" asp-for="Id" value="@Model.Id" />

            <label asp-for="Title">Başlık</label>
            <input asp-for="Title"  value="@Model.Title" class="form-control">
            <label asp-for="ContractDate">Tarih</label>
            <input asp-for="ContractDate" value="@Model.ContractDate" class="form-control">
            <label asp-for="Content">Başlık</label>
            <input asp-for="Content" value="@Model.Content" class="form-control">

        </div>
        <br />
        <button type="submit" class="btn btn-outline-success">Contract Güncelle</button>
    </div>

</form>